{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="container content">
    <h1>Next activities</h1>

    {% if nonExpiredNextActivities %}
        <ul class="d-flex flex-row">
        {% for activity in nonExpiredNextActivities %}
            <div class="p-3 m-3">
                <strong>{{ activity.name }}</strong>
                <li>{{ activity.meetingDate|date('j/m/Y') }}</li>
                <li>{{ activity.location }}</li>
                <li>Description : {{ activity.description }}</li>
                <li>Participants: </li>

                {% for participant in activity.participants %}
                    - {{ participant.email }} 
                    {% if participant.gender == 'f' %}
                        <i class="bi bi-gender-female"></i>
                    {% elseif participant.gender == 'm' %}
                        <i class="bi bi-gender-male"></i>
                    {% else %}
                        <i class="bi bi-gender-neuter"></i>
                    {% endif %}
                    <br>
                {% endfor %}

                <div>
                    <a class="btn btn-primary" href="{{ path('app_participate', {'id': activity.id }) }}" role="button">Partipate!</a>
                </div>

            </div>
        {% endfor %}
        </ul>

    {% else %}
        There is no activity for now.
        <div>
            <a class="btn btn-primary" href="#" role="button">Create your own!</a>
        </div>
    {% endif %}
</div>
{% endblock %}
