{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="container content">
    <h1>ACTIVITIES</h1>
    <h2>{{ categoryName }}</h2>

    <div>
        {% if activities %}
            <ul>
            {% for activity in activities %}
            
                <li>Author : {{ activity.author.email }}</li>
                <li>Name : {{ activity.name }}</li>
                <li>Description : {{ activity.description }}</li>
                <li>Location : {{ activity.location }}</li>
                <li>Date : {{ activity.meetingDate|date('j/m/Y') }}</li>
                <li>Participants: </li>

                {% for participant in activity.participants %}
                    - {{ participant.email }} 
                    {% if participant.gender == 'f' %}
                        <i class="bi bi-gender-female"></i>
                    {% elseif participant.gender == 'm' %}
                        <i class="bi bi-gender-male"></i>
                    {% else %}
                        <i class="bi bi-gender-neuter"></i>
                    {% endif %}
                    <br>
                {% endfor %}

                <div>
                    <a class="btn btn-primary" href="{{ path('app_participate', {'id': activity.id }) }}" role="button">Partipate!</a>
                </div>
                
            {% endfor %}
            </ul>

        {% else %}
            There is no activity for now.
            <div>
                <a class="btn btn-primary" href="#" role="button">Create your own!</a>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
